<div class="ui middle aligned center aligned grid formulario">
  <div class="column">
    <h2 class="ui  image header">
      <div class="content">
        Iniciar Sesión
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="Email" [(ngModel)]="usuario.email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="clave" placeholder="Contraseña" [(ngModel)]="usuario.clave">
          </div>
        </div>
        <div class="ui fluid large green submit button" (click)="ingresar()">Ingresar</div>
      </div>

      <div class="ui error message"></div>

    </form>


  </div>
</div>