<div class="ui container listado">
    <div class="ui relaxed divided items">
      <div class="item" *ngFor="let t of tutorias;trackBy: trackByFn" >
        <div class="ui small image">
          <img src="{{t?.Foto}}">
        </div>
        <div class="content">
          <div class="ui right floated big label">
            S/.{{t?.precioTutoria}}
          </div>
  
          <a class="header" (click)="actualizarTutoria(t?.idTutoria)">{{t?.tituloTutoria}}</a>
          <div class="meta">
            <a>{{t?.horaTutoria}} - {{t?.fechaTutoria}}</a>
            <a>Hay {{t?.cantidadAlumnos}} alumnos registrados</a>
          </div>
          <div class="description">
              
            {{t?.descripcionTutoria}}
          </div>
          
          <div class="extra">
            
            <div class="ui right floated button" (click)="culminar(t.idTutoria)" [ngClass]="t.estadoTutoria ? 'red':'grey disabled'">
              {{t?.estadoTutoria ? "Culminar":"Terminada"}}
              
            </div>
  
            <a class="ui teal tag label" style="margin-right: 30px;margin-left: 30px;">{{t?.categoriaTutoria}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>